h1 {
	border-bottom: solid black;
}

h3 {
	text-align: center;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:active {
	color: black;
	text-decoration: none;
}

.contents {
	border: solid black;
	background-color: pink;
}

.early {
	color: blue;
	font-family: helvetica;
}

img {
	float: right;
	height: 200px;
	width: 200px;
	clear: both;
}

figure {
	float: right;
	clear: both;
}

.four {
	color: red;
	font-family: helvetica;
}

.references {
	color: purple;
	font-family: arial;

}

#content {
	float: right;
	width: 50%;
}

#navbar {
	float: right;
	width: 50%;
}